{% extends 'base.html'%}
{% block myblock %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="jumbotron">Home &gt; CONTACT PAGE</h1>
        </div>
    </div>
</div>
{% endblock %}