{% extends "base.html" %}
{% block myblock %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="jumbotron">HOMEPAGE</h1>
            <img src="/static/1.jpg" class="img-thumbnail">
        </div>
    </div>
</div>
{% endblock %}
