{% extends 'base.html' %}
{% block myblock %}

{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="row py-5" style="background:url('/static/images/cover.jpg');background-size: 100% 100%;">
        <div class="col-md-12 text-light py-5 text-center">
            <h1>POST YOUR BLOG</h1>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-5 mx-auto bg-dark text-light">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" placeholder="Title Here..." name="title">
                </div>
                <div class="form-group">
                    <label>Cover Image</label>
                    <input type="file" class="form-control" name="image" required>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea name="des" rows="10" class="form-control" placeholder="Descripton Here..."></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Post Blog">
                </div>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="m-5">
    <h1 class="alert alert-danger">Please Login First to Post Blogs</h1>
</div>
{% endif %}
{% if status %}
    <script>
        alert("{{status}}");
    </script>
{% endif %}
{% endblock %}