{% extends "base.html" %}
{% block myblock %}
<div class="container-fluid">
    <div class="row">
        {% if not user.is_authenticated %}
            <div class="col-md-12 text-center my-5 alert alert-danger">
                <h1>PLEASE LOGIN FIRST!!!</h1>
            </div>
        {% else %}
        <div class="col-md-6 mx-auto my-4" style="box-shadow:0px 0px 10px gray;">
            <h1>Donate Now!!!</h1>
            <form action="">
                <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" readonly class="form-control" placeholder="Enter Name" value="{{user.first_name}} {{user.last_name}}">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" readonly class="form-control" placeholder="Email" value="{{user.email}}">
                </div>
                <div class="form-group">
                    <label>Donate For</label>
                    <select class="form-control" id="category">
                        <option value="Poor Child">Poor Child</option>
                        <option value="Women Empowerment">Women Empowerment</option>
                        <option value="Old Age Care">Old Age Care</option>
                        <option value="Cancer">Cancer</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Amount (Rs.)</label>
                    <input type="number" required min=100 placeholder="Amount" class="form-control" id="amount">
                </div>
                <div class="form-control">
                    <button class="btn btn-success" onclick="donate_now()">Donate Now!!!</button>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</div>
<script>
    function donate_now(){
        var c = $("#category").val();
        var amt = $("#amount").val();
        $.ajax({
            url:"{% url 'donation' %}",
            data:{cat:c, amount:amt},
            type:"get",
            success:function(data){
                donor_id = data;
                url='http://sachtechsolution.pe.hu/easypayment/payment.php?mid=JFeXSP79054240666398&amount='+amt+'&adminemail=akd6203@gmail.com&adminmobile=9779945093&mkey=yrE%23_4HmnGqs%25PFo&orderid='+donor_id+'&returnurl=http://127.0.0.1:8000/success_payment';
                window.location = url;
            }
        })
    }
</script>
{% endblock %}