{% extends "base.html" %}
{% block myblock %}
<div class="row">
    <div class="col-md-4 mx-auto my-5 p-3" style="box-shadow: 0px 0px 10px black;;">
        <h4>LOGIN HERE</h4>
        {% if error %}
           <div class="alert alert-danger">{{error}}</div>
        {% endif %}
        <form action="" method="post">
            
            {% csrf_token %}
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" class="form-control" placeholder="Enter Username..." name="usern">   
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" class="form-control" placeholder="Enter Password..." name="passw">   
            </div>
            <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block rounded-pill" value="Sign In">
            </div>
        </form>
    </div>
</div>
{% endblock %}