{% extends "base.html"%}
{% block myblock %}
<div class="container">
    <div class=row>
        <div class="col-md-6 mx-auto" style="box-shadow: 0px 0px 10px gray;;">
            <div class="card">
                <div class="card-header">
                    <h2>SUCCESS PAYMENT</h2>
                </div>
                <div class="card-body">
                    <img src="/static/images/success.gif"  class="card-img" style='height:200px;'>
                    <p>
                        Dear {{user.first_name}} {{user.last_name}} Thanks for donation !!!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}