*{
    font-family: cursive;
}
body{
    background:linear-gradient(black, seagreen 50%,gray 50%);
    background-size:100% 100%;
   
}
.inputs,button{
    width:100%;margin-bottom:10px;height:30px;box-sizing: border-box;
}
.container{
    width:40%;margin:50px auto;box-shadow:0px 0px 20px gray;padding:20px;
    background:white;
}
button{
    background: seagreen;color:white;border-radius:5px;border:none;height:35px;margin-top:5px;
}
button:hover{box-shadow:0px 0px 6px black;}

sup{color:red;}

h2{text-align:center;margin:0px;color:black;}

hr{
    width:20%;border:none;background:seagreen;height:2px;
}