{% extends "base.html" %}
{% block myblock %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="jumbotron">Home &gt; ABOUT PAGE</h1>
            <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt accusamus aliquam voluptate maxime minima, facilis debitis atque culpa minus doloremque, nam voluptatum omnis, consectetur totam deleniti earum alias laborum sit.
            </p>
        </div>
    </div>
</div>

{% endblock %}