{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <h1>ABOUT PAGE</h1>
    <hr>
    <table class="table table-striped table-hover m-5" border="1" cellspacing="0" cellpadding="10" width="50%" align="center">
        <tr>
            <th>Color Name</th>
            <th>Color Demo</th>
        </tr>
        {% for i in clrs %}
            <tr>
                <td>{{i}}</td>
                <td style="height:50px;width:50%;background:{{i}};"></td>
            </tr>
        {% endfor %}
    </table>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem vero ullam in esse. Voluptatibus modi dolor consectetur porro dignissimos amet, blanditiis quam eos. Vel dolore, eos quo odit labore optio.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem vero ullam in esse. Voluptatibus modi dolor consectetur porro dignissimos amet, blanditiis quam eos. Vel dolore, eos quo odit labore optio.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem vero ullam in esse. Voluptatibus modi dolor consectetur porro dignissimos amet, blanditiis quam eos. Vel dolore, eos quo odit labore optio.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem vero ullam in esse. Voluptatibus modi dolor consectetur porro dignissimos amet, blanditiis quam eos. Vel dolore, eos quo odit labore optio.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem vero ullam in esse. Voluptatibus modi dolor consectetur porro dignissimos amet, blanditiis quam eos. Vel dolore, eos quo odit labore optio.
    </p>
</body>
</html>