<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
    <style>
        h1{
            color:red;
        }
    </style>

</head>
<body>
    <h1 class="alert alert-danger">LOREM IPSUM| {{status}} | {{date}}</h1>
    <img src="/static/images/cover.jpg" style="height:300px;width:100%;">
    <!-- <img src="{% static 'images/cover.jpg' %}" alt=""> -->
    <h2>{{c}}</h2>
    <p class="jumbotron">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus odio distinctio repellat temporibus. Quis voluptatem aspernatur, dolorum alias sit doloremque magni! Soluta saepe debitis sapiente blanditiis, suscipit temporibus officia sit?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus odio distinctio repellat temporibus. Quis voluptatem aspernatur, dolorum alias sit doloremque magni! Soluta saepe debitis sapiente blanditiis, suscipit temporibus officia sit?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus odio distinctio repellat temporibus. Quis voluptatem aspernatur, dolorum alias sit doloremque magni! Soluta saepe debitis sapiente blanditiis, suscipit temporibus officia sit?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus odio distinctio repellat temporibus. Quis voluptatem aspernatur, dolorum alias sit doloremque magni! Soluta saepe debitis sapiente blanditiis, suscipit temporibus officia sit?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus odio distinctio repellat temporibus. Quis voluptatem aspernatur, dolorum alias sit doloremque magni! Soluta saepe debitis sapiente blanditiis, suscipit temporibus officia sit?
    </p>
    <ol>
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
    </ol>
</body>
</html>